.dropdown-item {color: #fff!important;}
.dropdown-menu {background-color: #232628!important;}
.btn, .btn:hover, .btn:active {background-color: rgb(35,38,41)!important;}
a{color:#b6e4ff}
a:hover{color:#96bbd0}
.card-body{background: rgb(60, 60, 60);color: rgb(200,200,200,1.0);}
.card-footer{background: rgb(50, 50, 50);}
.text-muted{color: rgb(150,150,150,1.0)!important;}
.card-text{margin-bottom:-1px;}
.thumbnail-wrapper {position: relative;width: 100%;background-repeat: no-repeat;background-size: cover;
padding-top: 56.25%; /* 16:9 Aspect Ratio */
background-position: center center; 
}
.resultsContainer{background:rgb(15,15,15,1);}
