.dropdown-item {color: #fff!important;}
.dropdown-menu {background-color: #232628!important;}
.btn, .btn:hover, .btn:active {background-color: rgb(35,38,41)!important;}
a{color:#b6e4ff;text-decoration:none;}
a:hover{color:#96bbd0}
.card-body{background: rgb(60, 60, 60);color: rgb(200,200,200,1.0);}
.card-footer{background: rgb(50, 50, 50);}
.text-muted{color: rgb(150,150,150,1.0)!important;}
.card-text{margin-bottom:-1px;}
.thumbnail-wrapper {position: relative;width: 100%;background-repeat: no-repeat;background-size: cover;
padding-top: 56.25%; /* 16:9 Aspect Ratio */
background-position: center center; 
}
.resultsContainer{background:rgb(15,15,15,1);}
.result-container {display: flex;align-items: center;padding: 10px;border-radius: 5px;margin-bottom: 10px;}
.thumbnail {width: 100px;height: 70px;
object-fit: cover; /* Ensures the image is cropped to fit */
margin-right: 10px;
}
.result-link {color: white;text-decoration: none;font-size: 16px;
flex: 1; /* Ensures the link takes up the remaining space */
}
.result-link:hover {text-decoration: underline;}