<!DOCTYPE html>
<html>
<head>
    <title>YT-DLP Downloader Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>YT-DLP DL Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
